body {
    color: #9C9495;
		font-family: arial;
		
}

h1 {
		text-align: center;
		font-size: 55px;
		font-family: Amaranth;
		color: #FE3562
}

nav {
    width: 100%;
    text-align: center;
    font-size: 150%;
}

a {
    display: grid;
		border-bottom: 6px solid #FE3562;
		text-decoration: none;
}

a:link {
    color: white;
    transition-duration: 0.5s;
}

a:hover {
    background-color: #e0d9db;
    transition-duration: 1s;
}

section#sect1 {
  background-image: url(images/back.jpeg);
    background-attachment: fixed;
    background-size: contain;
}

section#sect2 {
  background-image: url(images/CMS_Creative_164657191_Kingfisher.jpg);
    background-attachment: fixed;
    background-size: contain;
}